*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  line-height: 1;
  font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  border: 0;
}
ul{
  list-style-type: none;
}
button{
  border: none;
  text-decoration: none;
  text-align: center;
}
h1{
  font-size: 64px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 22px;
}
h4{
  font-size: 19px;
}